body {
  margin: 0;
  overflow-x:hidden;
  background-color: #fffdf2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
/*  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,246,0,1) 100%);*/
}

.sticker {
  width: 100px;
  margin: 0 auto;
  height: 100px;
  padding-top: 45px;
}

.bg {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,249,85,1) 100%);
}

nav a {
  text-decoration: none;
  color:black;
  pointer-events: auto;
}

@font-face {
  font-family: 'badd-mono';
  src: url('fonts/Badd-Mono-Regular.otf');
}

nav {
 position: fixed;
 bottom: 30px;
 right: 15px;
 font-family: 'badd-mono';
 font-size: 20px;
 z-index: 10;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
